@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  display: inline-block;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  width: 1em;
  height: 1em;

  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
}

.icon-plus {
  mask-image: url("plus-icon.svg");
  -webkit-mask-image: url("plus-icon.svg");
}

.button {
  @apply px-3 py-1 bg-blue-500 text-white rounded;
}